[Unit]
Description=First boot Tailscale setup
After=network-online.target tailscaled.service
Wants=network-online.target tailscaled.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firstboot-tailscale.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
