[Unit]
Description=Node-RED
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/env node-red
Restart=on-failure
KillSignal=SIGINT
TimeoutStopSec=20
SyslogIdentifier=Node-RED
Environment=NODE_OPTIONS=--max_old_space_size=256

[Install]
WantedBy=multi-user.target
